<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- /layout/basicLayout.html -->

	<head>

		<th:block th:replace="~{layouts/fragments/config :: fragment}"></th:block>

		<title layout:title-pattern="$LAYOUT_TITLE $CONTENT_TITLE">Store</title>

		<style type="text/css">

			.container { height: 100vh; }

		</style>

	</head>

	<body>

		<th:block th:replace="~{layouts/fragments/variable :: fragment}"></th:block>

		<div class="container">
			<th:block layout:fragment="content"></th:block>
		</div>

		<th:block layout:fragment="script"></th:block>

	</body>

</html>