<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- /layout/defaultLayout.html -->

	<head>

		<th:block th:replace="~{layouts/fragments/config :: fragment}"></th:block>

		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Store</title>

		<style type="text/css">

			.container { height: 100vh; display: flex; flex-direction: column; }
			.container_body { flex-grow: 1; display: flex; flex-direction: row; }
			.lnb { flex-shrink: 0; width: 250px; }
			.content { flex-grow: 1; }

		</style>

	</head>

	<body>

		<th:block th:replace="~{layouts/fragments/variable :: fragment}"></th:block>

		<div class="container">
			<header>
				<th:block th:replace="~{layouts/fragments/header :: fragment}"></th:block>
			</header>
			<div class="container_body">
				<div class="lnb">
					<th:block th:replace="~{layouts/fragments/lnb :: fragment}"></th:block>
				</div>
				<div class="content">
					<th:block layout:fragment="content"></th:block>
				</div>
			</div>
			<footer>
				<th:block th:replace="~{layouts/fragments/footer :: fragment}"></th:block>
			</footer>
		</div>

		<th:block layout:fragment="script"></th:block>

	</body>

</html>