<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<body>

		<style type="text/css">

			input:read-only { background: #eee }

		</style>

		<!-- /view/system/commonCodeListView.html	 -->
		<div class="pop_detail_content" data-view="commonCodeDetailView" style="width: 80vw;">

			<input type="hidden" name="mode" th:value="${reqDto.mode}"/>
			<input type="hidden" name="codeIdx" th:value="${reqDto.codeIdx}"/>

			<table class="form-table">
				<colgroup>
					<col style="width: 15%;"/>
					<col />
					<col style="width: 15%;"/>
					<col />
					<col style="width: 15%;"/>
					<col />
				</colgroup>
				<tbody>
					<tr>
						<th>그룹코드</th>
						<td>
							<input class="kendo-ui-textBox" name="grpCodeId" placeholder="그룹코드" th:readonly="${#strings.equals('U', reqDto.mode)}"/>
						</td>
						<th>그룹코드명</th>
						<td>
							<input class="kendo-ui-textBox" name="grpCodeNm" placeholder="그룹코드명"/>
						</td>
						<th>사용여부</th>
						<td>
							<ul id="useYn"></ul>
						</td>
					</tr>
					<tr>
						<th>그룹코드설명</th>
						<td colspan="5">
							<textarea class="kendo-ui-textArea" name="grpCodeDesc" placeholder="그룹코드 설명을 입력해주세요."></textarea>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="grid_wrap">
				<div class="grid"></div>
			</div>

			<div style="text-align: end;">
				<th:block th:if="${#strings.equals('U', reqDto.mode)}">
					<button type="button" class="btnDelete">
						<span style="width: 6em; font-weight: 600;">삭제</span>
					</button>
				</th:block>
				<button type="button" class="btnSave">
					<span style="width: 6em; font-weight: 600;">저장</span>
				</button>
			</div>

		</div>

		<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/

			$(document).ready(function () {

				const $VIEW = $('[data-view="commonCodeDetailView"]');

				const MODE = $VIEW.find('[name="mode"]').val();
				const CODE_IDX = $VIEW.find('[name="codeIdx"]').val();

				const _requestData = {
					mode: MODE,
					codeIdx: CODE_IDX,
					list: []
				};

				const _dataSource = new kendo.data.DataSource({
					transport: {
						read: {
							url: '/system/code/txn/list.do',
							type: 'POST',
							contentType: 'application/json',
							dataType: 'json',
							cache: false,
							data: ( ) => {
								return {
									codeIdx: CODE_IDX
								}
							}
						},
						parameterMap: ( data, type ) => {
							return kendo.stringify(data);
						}
					},
					schema: {
						data: ( { data } ) => {
							const { list } = data;
							return list;
						},
						model: {
							id: 'codeTxnIdx',
							fields: {
								dispOrd: { type: 'number' },
								useYn: { type: 'string' }
							}
						}
					}
				});

				const fnSetData = function ( ) {
					if ( $VIEW.find('[name="mode"]').val() == 'C' ) {
						_dataSource.read();
						return false;
					}
					const _ajax = AjaxUtils.getJson(
						'POST',
						'/system/code.do',
						{
							contentType: 'application/json',
							data: JSON.stringify({ codeIdx: CODE_IDX })
						}
					);
					_ajax.then(
						( { data } ) => {
							const { resDto } = data;
							const { grpCodeId, grpCodeNm, useYn, grpCodeDesc } = resDto;
		 					$VIEW.find('[name="grpCodeId"]').data('kendoTextBox').value(grpCodeId);
		 					$VIEW.find('[name="grpCodeNm"]').data('kendoTextBox').value(grpCodeNm);
		 					$VIEW.find('#useYn').getKendoRadioGroup().value(grpCodeId);
		 					$VIEW.find('[name="grpCodeDesc"]').data('kendoTextArea').value(grpCodeDesc);
							_dataSource.read();
						}
					);
				}

				$VIEW.find('.kendo-ui-textBox').kendoTextBox({
					fillMode: 'outline'
				});

				$VIEW.find('.kendo-ui-textArea').kendoTextArea({
					fillMode: 'outline',
					rows: 5
				});

				$VIEW.find("#useYn").kendoRadioGroup({
					inputName: 'useYn',
					layout: 'horizontal',
					items: [
						{ label: 'Yes', value: 'Y' },
						{ label: 'No', value: 'N' },
					],
					value: 'Y'
				});

				$VIEW.find(".grid").kendoGrid({
					autoBind: false,
					sortable: false,
					resizable: true,
					pageable: false,
					height: '350px',
					noRecords: {
						template: ( ) => {
							return `
								<div class="grid_no_data">
									<b>No Data.</b>
								</div>
							`;
						}
					},
					columns: [
						{
							selectable: true,
							width: '45px',
							headerAttributes: { style: "text-align: center; justify-content: center" },
							attributes: { style: 'text-align: center;' },
						},
						{
							field: 'codeId',
							title: '코드',
							headerAttributes: { style: "text-align: center; justify-content: center" },
							width: '20em',
							editable: ( data ) => {
								return data.isNew();
							},
							attributes: ( data ) => {
								if ( !data.isNew() ) {
									return { style: "color: red;" };
								}
								return {};
							},
						},
						{
							field: 'codeNm',
							title: '코드명',
							headerAttributes: { style: "text-align: center; justify-content: center" },
							width: '20em',
						},
						{
							field: 'useYn',
							title: '사용여부',
							headerAttributes: { style: "text-align: center; justify-content: center" },
							width: '6em',
							attributes: { style: 'text-align: center;' },
							editor: 'DropDownList',
							editorOptions: {
								dataTextField: 'text',
								dataValueField: 'value',
								dataSource: {
									data: [
										{ text:'Y', value: 'Y' },
										{ text:'N', value: 'N' }
									]
								}
							}
						},
						{
							field: 'dispOrd',
							title: '노출순서',
							width: '6em',
							headerAttributes: { style: "text-align: center; justify-content: center" },
							attributes: { style: 'text-align: center;' },
						},
						{
							field: 'refVal01',
							title: '참조값1',
							width: '8em',
							headerAttributes: { style: "text-align: center; justify-content: center" },
						},
						{
							field: 'refVal02',
							title: '참조값2',
							width: '8em',
							headerAttributes: { style: "text-align: center; justify-content: center" },
						},
						{
							field: 'refVal03',
							title: '참조값3',
							width: '8em',
							headerAttributes: { style: "text-align: center; justify-content: center" },
						},
						{
							field: 'refVal04',
							title: '참조값4',
							width: '8em',
							headerAttributes: { style: "text-align: center; justify-content: center" },
						},
						{
							field: 'refVal05',
							title: '참조값5',
							width: '8em',
							headerAttributes: { style: "text-align: center; justify-content: center" },
						},
						{ field: 'codeTxnIdx', hidden: true },
						{ field: 'codeIdx', hidden: true }
					],
					editable: {
						mode: 'incell',
						confirmation: false
					},
					dataSource: _dataSource,
					selectable: 'multiple',
					toolbar: [
						{
							type: 'button',
							text: '추가',
							icon: 'plus',
							click: ( e ) => {
								const _grid = $VIEW.find(".grid").data('kendoGrid');
								const _dataSource = _grid.dataSource;
								_dataSource.add({ codeIdx: CODE_IDX, useYn: 'Y', dispOrd: 0 });
								_grid.editCell(_grid.tbody.find(`tr:last td:eq(1)`));
							}
						},
						{
							type: 'button',
							text: '삭제',
							icon: 'minus',
							click: ( e ) => {
								const _grid = $VIEW.find(".grid").data('kendoGrid');
								const _dataSource = _grid.dataSource;
								const _selectedDatas = _grid.getSelectedData();
								if ( ObjectUtils.isEmpty(_selectedDatas ) ) {
									Ui.alert('삭제할 대상을 선택해주세요.');
									return;
								}
								for ( const { uid } of _selectedDatas ) {
									const _rowData = _dataSource.getByUid(uid);
									if ( !_rowData.isNew() ) {
										_rowData.mode = 'D';
										_requestData.list.push(_rowData);
									}
									_dataSource.remove(_rowData);
								}
							}
						},
					],
					cellClose: ( { sender:_grid } ) => {
						const _dataSource = _grid.dataSource;
						const _data = _dataSource.data();
						_data.sort((a, b) => a.dispOrd - b.dispOrd );
						_dataSource.data(_data);
					}
				});

				$VIEW.find(".btnDelete").kendoButton({
					themeColor: 'error',
					fillMode: 'solid',
					size: 'large',
					click: ( e ) => {
						const _el = $(e.target).closest('.popupWrap');
						_el.attr('data-closeType', 'delete');
						_el.data("kendoDialog").close();
					}
				});

				$VIEW.find(".btnSave").kendoButton({
					themeColor: 'primary',
					fillMode: 'solid',
					size: 'large',
					click: ( e ) => {
						const grpCodeId = $VIEW.find('[name="grpCodeId"]').data("kendoTextBox").value();
						if ( ObjectUtils.isEmpty(grpCodeId) ) {
							UiUtils.alert({
								message: '그룹 코드를 입력해 주세요.',
								fnClose: ( ) => {
									$VIEW.find('[name="grpCodeId"]').data("kendoTextBox").focus();
								}
							});
							return false;
						}
						const grpCodeNm = $VIEW.find('[name="grpCodeNm"]').data("kendoTextBox").value();
						if ( ObjectUtils.isEmpty(grpCodeNm) ) {
							UiUtils.alert({
								message: '그룹 코드명을 입력해 주세요.',
								fnClose: ( ) => {
									$VIEW.find('[name="grpCodeNm"]').data("kendoTextBox").focus();
								}
							});
							return false;
						}
						_requestData.codeId = grpCodeId;
						_requestData.codeNm = grpCodeNm;
						_requestData.useYn = $VIEW.find("#useYn").getKendoRadioGroup().value();
						_requestData.codeDesc = $VIEW.find('[name="grpCodeDesc"]').data('kendoTextArea').value();
						const _grid = $VIEW.find(".grid").data('kendoGrid');
						const _dataSource = _grid.dataSource;
						const codeIds = [];
						let isBreak = false;
						$.each(_dataSource.data(), function ( idx, rowData ) {
							const { codeId, codeNm } = rowData;
							if ( StringUtils.isEmpty(codeId) ) {
								UiUtils.alert({
									message: `코드값을 입력해 주세요.`,
									fnClose: ( ) => {
										_grid.editCell(_grid.tbody.find(`tr:eq(${idx}) td:eq(1)`));
									}
								});
								isBreak = true;
								return false;
							}
							if ( codeIds.includes(codeId) ) {
								UiUtils.alert(`동일한 코드가 존재합니다.( 코드: ${codeId} )`);
								isBreak = true;
								return false;
							}
							if ( StringUtils.isEmpty(codeNm) ) {
								UiUtils.alert({
									message: `코드명을 입력해 주세요.`,
									fnClose: ( ) => {
										_grid.editCell(_grid.tbody.find(`tr:eq(${idx}) td:eq(2)`));
									}
								});
								isBreak = true;
								return false;
							}
							if ( rowData.isNew() ) {
								rowData.mode = 'C';
							} else {
								rowData.mode = 'U';
							}
							_requestData.list.push(rowData);
							codeIds.push(codeId)
						});
						if ( isBreak ) {
							return false;
						}
						UiUtils.confirm({
							message: '저장하시겠습니까?',
							fnAgree: ( e ) => {
								const _ajax = AjaxUtils.getJson(
									'POST',
									'/system/code/save.do',
									{
										contentType: 'application/json',
										data: JSON.stringify(_requestData)
									}
								);
								_ajax.then(
									( { data } ) => {
										UiUtils.alert({
											message: '저장처리되었습니다.',
											fnClose: ( ) => {
												const _el = $VIEW.closest('.popupWrap');
												_el.attr('data-closeType', 'save');
												_el.data("kendoDialog").close();
											}
										});
									}
								);
							}
						});
					}
				});

				fnSetData();

			});

		/*]]>*/
		</script>

	</body>

</html>