<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<body>

		<style type="text/css">

		</style>

		<!-- /view/system/commonCodeListView.html	 -->
		<div class="list_content" data-view="commonCodeListView">

			<div style="display: flex; justify-content: space-between;">
				<h2 id="contentTitle" style="margin: 0 0 0.5em 0;">Title</h2>
				<nav id="breadcrumb"></nav>
			</div>

			<ul class="kendo-ui-panelBar">
				<li class="k-expanded">
					<span class="k-link k-selected">검색</span>
					<div style="padding: 0 0.5em;">
						<table class="form-table">
							<colgroup>
								<col style="width: 10%;"/>
								<col />
								<col style="width: 10%;"/>
								<col/>
								<col style="width: 10%;"/>
								<col />
							</colgroup>
							<tbody>
								<tr>
									<th>검색구분</th>
									<td>
										<input class="kendo-ui-select" name="div"/>
									</td>
									<th>검색어</th>
									<td>
										<input class="kendo-ui-textBox" name="value" value=""/>
									</td>
									<th>사용여부</th>
									<td>
										<input class="kendo-ui-select" name="useYn"/>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6">
										<button type="button" class="kendo-ui-button" id="btnSearch">
											<span style="width: 5rem; padding: 0.25rem;">검색</span>
										</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</li>
			</ul>

			<div class="grid_wrap">
				<div class="grid" style="height: 100%;"></div>
			</div>

		</div>

		<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/

			$(document).ready(function () {

				const $VIEW = $('[data-view="commonCodeListView"]');

				const fnDetailView = function ( requestData ) {
					const _ajax = AjaxUtils.getHtml(
						'POST',
						'/system/code/detail.view',
						{ data: requestData }
					);
					_ajax.then(
						( html ) => {
							const _id = `VIEW-${crypto.randomUUID()}`;
							$('body').append(`<div class="popupWrap" id="${_id}"><div>`);
							$(`#${_id}`).kendoDialog({
								modal: true,
								themeColor: 'primary',
								title: '공통코드',
								content: html,
								hide: ( e ) => {
									const closeType = StringUtils.nvl($(`#${_id}`).attr('data-closeType'), '');
									if ( [ 'save', 'delete' ].includes(closeType) ) {
										_dataSource.read();
									}
									$(`#${_id}`).data("kendoDialog").destroy();
								}
							});
						}
					);
				}

				const _dataSource = new kendo.data.DataSource({
					transport: {
						read: {
							url: '/system/code/list.do',
							type: 'POST',
							contentType: 'application/json',
							dataType: 'json',
							cache: false,
							data: () => {
								const div = $VIEW.find('[name="div"]').data("kendoDropDownList").value();
								const value = $VIEW.find('[name="value"]').data("kendoTextBox").value();
								const useYn = $VIEW.find('[name="useYn"]').data("kendoDropDownList").value();
								return {
									div: div,
									value: value,
									useYn: useYn
								}
							}
						},
						parameterMap: ( data, type ) => {
							return kendo.stringify(data);
						}
					},
					page: 1,
					pageSize: 20,
					serverPaging: true,
					schema: {
						data: ( { data } ) => {
							const { list } = data;
							return list;
						},
						total: ( { data } ) => {
							const { reqDto } = data;
							return reqDto.totalCount;
						}
					}
				});

				$VIEW.find('.kendo-ui-expansionPanel').each(function ( ) {
					const _title = $(this).attr('data-title');
					const _expanded = (StringUtils.nvl($(this).attr('data-expanded'), 'N') == 'Y') ? true : false;
					$(this).kendoExpansionPanel({
						title: _title,
						expanded: _expanded
					});
				});

				$VIEW.find('.kendo-ui-panelBar').kendoPanelBar({
					expandMode:' single',

				})

				$VIEW.find('.kendo-ui-textBox').kendoTextBox({
					fillMode: 'outline'
				});

				$VIEW.find('.kendo-ui-select[name="div"]').kendoDropDownList({
					autoWidth: true,
					fillMode: 'outline',
					dataTextField: 'code',
					dataValueField: 'value',
					dataSource: new kendo.data.DataSource({
						data: [
							{ code: '코드', value: 'code' },
							{ code: '코드명', value: 'name' }
						]
					})
				});

				$VIEW.find('.kendo-ui-select[name="useYn"]').kendoDropDownList({
					autoWidth: true,
					fillMode: 'outline',
					dataTextField: 'code',
					dataValueField: 'value',
					optionLabel: { code: '선택', value: '' },
					dataSource: new kendo.data.DataSource({
						data: [
							{ code: '사용', value: 'Y' },
							{ code: '미사용', value: 'N' }
						]
					})
				});

				$VIEW.find(".kendo-ui-button#btnSearch").kendoButton({
					size: "middle",
					themeColor: 'primary',
					fillMode: 'solid',
					click: ( e ) => {
						_dataSource.read();
					}
				});

				$VIEW.find(".grid").kendoGrid({
					autoBind: false,
					sortable: true,
					resizable: true,
					pageable: {
						alwaysVisible: true,
						info: false,
						messages: {
							itemsPerPage: "개씩 보기"
						},
						pageSizes: [20, 50, 100]
					},
					noRecords: {
						template: ( ) => {
							return `
								<div class="grid_no_data">
									<b>No Data.</b>
								</div>
							`;
						}
					},
					columns: [
						{
							selectable: true,
							width: '40px',
						},
						{
							field: 'grpCodeId',
							title: '그룹코드',
							headerAttributes: { style: "text-align: center; justify-content: center" },
							width: '10em',
							template: ( { codeIdx, grpCodeId } ) => {
								return `<a href='javascript:void(0);' class='grid_column_btn btnDetail' data-codeIdx='${codeIdx}'>${grpCodeId}</a>`;
							}
						},
						{
							field: 'grpCodeNm',
							title: '그룹코드명',
							headerAttributes: { style: "text-align: center; justify-content: center" },
							width: '20em',
						},
						{
							field: 'useYn',
							title: '사용여부',
							headerAttributes: { style: "text-align: center; justify-content: center" },
							width: '6em',
							attributes: { style: 'text-align: center;' },
							values: [
								{ text: 'Yes', value: 'Y' },
								{ text: 'No', value: 'N' },
							]
						},
						{
							field: 'grpCodeDesc',
							title: '설명',
							headerAttributes: { style: "text-align: center; justify-content: center" },
							template: ( { grpCodeDesc } ) => {
								return grpCodeDesc.replaceAll('\n', '<br/>');
							}
						},
					],
					dataSource: _dataSource,
					selectable: 'multiple',
					toolbar: [
						{
							type: 'button',
							text: '추가',
							icon: 'plus',
							click: ( e ) => {
								fnDetailView({ mode: 'C' });
							}
						},
						{
							type: 'button',
							text: '삭제',
							icon: 'minus',
							click: ( e ) => {
								const _grid = $VIEW.find(".grid").data('kendoGrid');
								const _selectedDatas = _grid.getSelectedData();
								if ( ObjectUtils.isEmpty(_selectedDatas ) ) {
									Ui.alert('삭제할 대상을 선택해주세요.');
									return;
								}
								const _requestDatas = [];
								for ( const { uid } of _selectedDatas ) {
									const _rowData = _dataSource.getByUid(uid);
									_rowData.mode = 'D';
									_requestDatas.push(_rowData);
								}
								UiUtils.confirm({
									message: '삭제하시겠습니까?',
									fnAgree: ( e ) => {
										const _ajax = AjaxUtils.getJson(
											'POST',
											'/system/code/delete.do',
											{
												contentType: 'application/json',
												data: JSON.stringify(_requestDatas)
											}
										);
										_ajax.then(
											( result ) => {
												UiUtils.alert({
													message: '삭제 처리되었습니다.',
													fnClose: ( ) => {
														_dataSource.read();
													}
												});
											}
										);
									}
								});
							}
						}
					]
				});

				$VIEW.on('click', '.btnDetail', function ( ) {
					const codeIdx = $(this).attr('data-codeIdx');
					fnDetailView({
						codeIdx: codeIdx,
						mode: 'U'
					});
				});

				$VIEW.find('.grid').css({ 'height': '' });

				_dataSource.read();

			});

		/*]]>*/
		</script>

	</body>

</html>