<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultLayout}">

	<body>

		<th:block layout:fragment="content">

			<!-- /view/main/mainView.html -->
			<div data-view="mainView">

			</div>

		</th:block>

		<th:block layout:fragment="script">
			<script th:inline="javascript" type="text/javascript">
			/*<![CDATA[*/

				$(document).ready(function ( ) {

					const $VIEW = $('[data-view="mainView"]');

					$("#btnLnbDisplay").trigger('click');

				});

			/*]]>*/
			</script>
		</th:block>

	</body>

</html>