<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultLayout}">

	<body>

		<th:block layout:fragment="content">

			<!-- /view/main/mainView.html -->
			<div data-view="mainView">
				<!--/*
				<th:block th:each="idx : ${#numbers.sequence(0, 100)}">
				Main Content<br/>
				</th:block>
				*/-->

				<div id="treeview2"></div>
			</div>

		</th:block>

		<th:block layout:fragment="script">
			<script th:inline="javascript" type="text/javascript">
			/*<![CDATA[*/

				$(document).ready(function ( ) {

					const $VIEW = $('[data-view="mainView"]');

					const dt = [];
					for ( i=0; i<50; i++ ) {
						dt.push({
								text: `foo_${i}`,
								inStock: 7,
								items: [
									{ text: "bar", inStock: 2 },
									{ text: "baz", inStock: 5 }
								]
							})
					}

					$("#treeview2").kendoTreeView({
						//  template: "#= item.text # (#= item.inStock #)",
						template: ( { item } ) => {
							const { text, inStock } = item;
							return `<span class="k-treeview-leaf-text aaabbb">${text} ( ${inStock} )</span>`;
						},
						dataSource: dt,
//	 					dataSource: [
//	 						{
//	 							text: "foo",
//	 							inStock: 7,
//	 							items: [
//	 								{ text: "bar", inStock: 2 },
//	 								{ text: "baz", inStock: 5 }
//	 							]
//	 						},
//	 						{
//	 							text: "foo2",
//	 							inStock: 7,
//	 							items: [
//	 								{ text: "bar1", inStock: 2 },
//	 								{ text: "baz2", inStock: 5 }
//	 							]
//	 						}
//	 					],
						select: function(e) {
							console.log(e)
						}
					});

					$("#btnLnbDisplay").trigger('click');

				});

			/*]]>*/
			</script>
		</th:block>

	</body>

</html>